<nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <div id="logo-container"class="brand-logo">Biconik&copy;</div>
      
      <ul class="right hide-on-med-and-down">
          <a class="right waves-effect waves-light btn logo-container"><i class="material-icons right">cloud</i>Log in</a>
        </ul>
    </div>
    
  </nav>
  
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Biconik: Almacenes</h1>
        <div class="row center">
          <h5 class="header col s12 light">La división de Biconik&copy; dedicada a la venta de productos</h5>
        </div>
        <div class="row center">
          <p (click)="listar()"  id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Ver Lista de Productos</p>
        </div>
        <br><br>
  
      </div>
    </div>
    <div class="parallax"><img src="./../../../assets/background1.jpg" alt="Unsplashed background img 1"></div>
  </div>
  
  
  <div class="container">
    <div class="section">
  
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Velocidad en implementación de estructura de datos</h5>
  
            <p class="light center">Utilizando estructuras de datos para poder desplegar los productos asímismo ordenarlos
              como se desea, para brindar la mejor experiencia al usuario.</p>
          </div>
        </div>
  
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Roles de usuario</h5>
  
            <p class="light center">Seas administrador o vendedor, la plataforma te permite cumplir los determinados roles
              para ejercer una responsable ejerción de su trabajo.</p>
          </div>
        </div>
  
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Funciones bien definidas</h5>
  
            <p class="light center">Con funciones concretas, el servicio cumple su función de manera estricta sin provocar
              confusiones tanto para el administrador, vendedor o cliente</p>
          </div>
        </div>
      </div>
  
    </div>
  </div>
  
  
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 green-text">Hola profesor Timoteo, este proyecto fue hecho por el grupo 11.</h5>
        </div>
        <div class="row center">
          <h6 class="header col s12 light center pink-text">No fue comprado >:c</h6>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="./../../../assets/background2.jpg" alt="Unsplashed background img 2"></div>
  </div>
  
  <div class="container">
    <div class="section">
  
      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Grupo 11</h4>
          <p class="center-align light">El grupo 11 fue asignado con la tarea de implementar un sistema de almacena, para
            ello
            se pensó cuidadosamente en el uso del patrón arquitectonico Modelo-Vista-Controlador, siendo la vista
            implementada por el framework Angular,
            el controlador por Java usando Spring y ahi tambien estando las estructuras necesarias a usar, y por último el
            modelo
            sería el Gestor de Base de Datos para MySQL.
          </p>
        </div>
      </div>
  
    </div>
  </div>
  
  
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h4 class="header col s12 light">Integrantes:</h4>
        </div>
        <!-- <div class="row ">
          <h5 class="center-align light">MEJIA SALINAS, Diego Roberto</h5>
          <h5 class="center-align light">MARCELO MACAVILCA, Luis</h5>
        </div> -->
  
        <div class="row">
          <div class="col s12 m6">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons">person</i></h2>
              <h5 class="center">MEJIA SALINAS, Diego Roberto</h5>
  
              <p class="light center">Codigo: 16200272</p>
            </div>
          </div>
  
          <div class="col s12 m6">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons">face</i></h2>
              <h5 class="center green-text">MARCELO MACAVILCA, Luis</h5>
  
              <p class="light center green-text">Codigo: </p>
            </div>
          </div>
  
  
        </div>
  
      </div>
    </div>
    <div class="parallax"><img src="./../../../assets/background3.jpg" alt="Unsplashed background img 3"></div>
  </div>
  
  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Biconik</h5>
          <p class="grey-text text-lighten-4">Biconik es el nombre asignado al programa para poder identificarse
            con mayor facilidad.
          </p>
        </div>
        
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        All rights reserved <a class="brown-text text-lighten-3">Biconik &copy;</a>
      </div>
    </div>
  </footer>