<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <div id="logo-container" class="brand-logo">Biconik&copy;</div>

    <ul class="right hide-on-med-and-down">
      <a class="right waves-effect waves-light btn logo-container"><i class="material-icons right">cloud</i>Log in</a>
    </ul>
  </div>

</nav>

<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-4">Lista de Productos</h1>
      <div class="row center">
        <h5 class="header col s12 light">Aqui puede ver los productos disponibles</h5>
      </div>
      <div class="row center">
        <p id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Ver Lista de Productos</p>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="./../../../assets/product3.jpg" alt="Unsplashed background img 1"></div>
</div>


<div class="container p-5">
  <div class="section">

    <div class="row">
        <table>
            <thead>
              <tr>
                  <th>Nombre</th>
                  <th>Código</th>
                  <th>Precio de Venta</th>
              </tr>
            </thead>
    
            <tbody>
              <tr>
                <td>Alvin</td>
                <td>Eclair</td>
                <td>$0.87</td>
              </tr>
              <tr>
                <td>Alan</td>
                <td>Jellybean</td>
                <td>$3.76</td>
              </tr>
              <tr>
                <td>Jonathan</td>
                <td>Lollipop</td>
                <td>$7.00</td>
              </tr>
              <tr>
                  <td>Alvin</td>
                  <td>Eclair</td>
                  <td>$0.87</td>
                </tr>
                <tr>
                  <td>Alan</td>
                  <td>Jellybean</td>
                  <td>$3.76</td>
                </tr>
                <tr>
                  <td>Jonathan</td>
                  <td>Lollipop</td>
                  <td>$7.00</td>
                </tr>
            </tbody>
          </table>
    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 blue-text text-lighten-2">Pruebe acceder al rol de Administrador y Vendedor</h5>
        </div>
        <div class="row center">
          <h6 class="header col s12 light center pink-text text-lighten-2">Hay más opciones</h6>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="./../../../assets/product2.jpg" alt="Unsplashed background img 2"></div>
  </div>
</div>




<footer class="page-footer teal">
  
  <div class="footer-copyright">
    <div class="container">
      All rights reserved <a class="brown-text text-lighten-3">Biconik &copy;</a>
    </div>
  </div>
</footer>